body {
  font-family: Arial, sans-serif;
  background-image: url('black.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 90%; /* Adjust width for smaller screens */
  max-width: 600px;
  margin: 0 auto;
  padding: 30px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

@media (max-width: 600px) {
  .container {
    padding: 20px;
  }
}

input[type="text"] {
  width: calc(100% - 20px); /* Adjust width for smaller screens */
  padding: 10px;
  margin: 10px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
}

button {
  width: 100%; /* Make button full width on smaller screens */
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}
  #output {
    margin-top: 20px;
    text-align: left;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
    font-size: 14px; /* Adjust the font size as needed */
    overflow-wrap: break-word; /* Add this line to wrap long words */
  }
